
.frame {
  background-color:#ddd;
  padding:5px;
  height:100%;
}

.options {
  width: 250px;
  float:left;
  border-right: solid 1px #ccc;
}

.main {
  width:100%
}  


/* slider stuff */
.slider {
  width:50px;
  height:50px;
  background-color:#aaa;
  display:inline-block;
  float:left;
}

.chart {
  border:1px solid #888;
  width:500px;
  height:50px;
}


.bar {
  stroke:#ddd;
  fill:darkgrey;
}

.accepted {
  fill:grey;
}
.highlight {
  fill:chocolate;
  color:chocolate;
}

#props {
  font-size : 10px;
  font-weight: bold;
  list-style-type : none;
  color:chocolate;
}

.threshold {
  opacity:.5;
  stroke:steelblue;
  stroke-width:3;
  cursor: url(https://mail.google.com/mail/images/2/openhand.cur), default !important;
}
.threshold-text {
  opacity:.8;
  stroke:black;
}
#list ul {
  font-size:10px;
  font-weight:bold;
  color:#999;
  list-style-type : none;
}


.slider_container {
  float:left;
}



.value-label {
  opacity:.9;
  stoke:black;
}
